[submodule ".common-lisp/impl-systems/sbcl/sbcl-readline"]
	path = .common-lisp/impl-systems/sbcl/sbcl-readline
	url = git://jini-zh.org/sbcl-readline
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/hlissner/doom-emacs.git
